footer {
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: auto;
}

@media (max-width: 1000px) {
    .about .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .about img {
        width: 250px;
    }

    .about .teks-head {
        width: 100%;
    }

    .kesehatan {
        padding: 10px;
        width: 100%;
    }

    .penyakit {
        flex-direction: column;
        align-items: center;
    }
    
    .penyakit .card {
        margin-top: 10px !important;
        width: 90% !important;
    }

    iframe {
        width: 90%;
        height: 215px;
    }

    .card-text {
        margin-bottom: 2
    }

    .tombolNext {
        margin-top: 0 !important;
    }

    footer {
        font-size: small;
    }
}